@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";

// 2. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert
  ),
  "github": (
    $github,
    $github-invert
  )
);
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

// 4. Provide custom buefy overrides and site styles here

.b-table .table {
  td {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  th {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    &.is-current-sort {
      border-color: #dbdbdb;
    }

    .th-wrap .icon {
      font-size: 0.7rem;
    }
  }
}

.buttons {
  &.is-pulled-right {
    .button {
      margin-left: 0.4rem;
    }
  }
}

.button {
  @media print {
    display: none;
  }
}

.is-hidden-print {
  @media print {
    display: none;
  }
}

p {
  &.subtitle {
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 0.6rem;
  }
}

.label {
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
}

.title-box {
  margin-right: 0.5rem;
  .title {
    margin-left: 0.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  .button {
    margin-top: 0.3rem;
  }
}
